body {
	background-color: #DCE3F1; /* this is "-app-base" from resources/style.css*/
	/*background-color:  yellow;*/
	font-family: "Courier New";	
	font-weight: bold;
	font-size: 72;
	height: 100%;
	display: flex; /* Setting the display to "flex" allows us to use "flex-direction"*/
	flex-direction: column-reverse; /* Says to display items (we only have 1 item) in a vertical column from bottom
	to top. */
	padding: 0; 
	margin: 0;
}

div {
	background-color: transparent;
	/*background-color: brown;*/
	text-align: center;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

math {
	background-color: transparent;
	/*background-color: pink;*/
	font-family: "Courier New";	
	font-weight: bold;
	/*padding: 18;*/
}

span {
	color: transparent; /* Text is invisible. See the java method base.problems.Statement#fixUpMathML(String)*/
}

html {
	padding: 0; 
	margin: 0;
}