.root {
	-app-white: #F1F1F1;
	-app-base: #DCE3F1;
	-app-light-accent: #CBE0F5;
	-app-accent: #A7C7E7;
	-app-light: #A1B2C3;
	-app-dark: #29527B;
	-fx-background-color: -app-base;
}

.header {
	
}

.correct-pie-slice {
	-fx-pie-color: green;
}

.incorrect-pie-slice {
	-fx-pie-color: red;
}

.dead-pie-slice {
	-fx-pie-color: grey;
}

.problem-display {
	-fx-font: 30 "Yu Gothic";
}

.title-character {
	-fx-font: 72 "Yu Gothic";
}

.sets-pane {
	-fx-background-color: bisque;
}
.sets-pane .back-arrow-box {
	-fx-background-color: #29527B;
	-fx-padding: 10px;
}
.sets-pane .header {
	-fx-background-color: -app-accent;
	-fx-spacing: 20px;
	-fx-alignment: center;
	-fx-font: 48 "Georgia";
	-fx-font-fill: -app-light;
	-fx-font-weight: 600;
	-fx-padding: 0px 0px 10px 0px;
	-fx-border-color: -app-dark;
	-fx-border-width: 0px 0px 4px 0px;
}

.sets-pane .header .create-button {
-fx-background-color: #77DD77; /*rgb(0, 0, 0); #hexcode*/
	-fx-background-radius: 16px;
	-fx-border-color: green;
	-fx-border-radius: 10px;
	-fx-border-width: 4px;
	-fx-font: 30 "Impact";
	-fx-text-fill: -app-white;
	-fx-font-weight: 600;
}

.sets-pane .scroll {
	-fx-hbar-policy: never;
}

.sets-pane .scroll .viewport {
	-fx-background-color: -app-base;
}

.sets-pane .flow {
	-fx-background-color: -app-base;
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-padding: 20;
}

.sets-pane .root-layer {
	-fx-background-color: -app-base;
}

.set-card {
	-fx-background-color: -app-white;
	-fx-background-radius: 8px;
	-fx-border-color: -app-dark;
	-fx-border-width: 3px;
	-fx-border-radius: 8px;
	-fx-padding: 10px;
}

.set-card VBox {
	-fx-spacing: 5px;
}

.set-card Label {
	-fx-font: 24 "Georgia";
}

.set-card Button {
	-fx-font: 16 "Georgia";
}

.error-message {
	-fx-font: 14 "Georgia";
	-fx-text-fill: red;
}

.editor-pane .name-layer {
	-fx-alignment: center;
}

.editor-pane .portion-layer {
	-fx-padding: 20px 40px 40px 40px;
}

.topic-pane {
	-fx-background-color: transparent;
	-fx-text-fill: black;
}

.topic-pane > .title {
	-fx-background-color: -app-accent;
	-fx-background-insets: 0;
	-fx-background-radius: 5 5 5 5;
	-fx-padding: 5 10 5 10;
}

.topic-pane > *.content {
	-fx-background-color: -app-light-accent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-padding: 2 0 0 18;
 }

.topic-pane .graphic {
	-fx-padding: 0 10 0 10;	
}

.setting-slider .thumb {
    -fx-background-color: -app-dark;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}

.setting-slider .track {
	-fx-background-color: -app-accent;
    -fx-background-insets: 0 0;
}

.topic-pane-container {
	-fx-spacing: 10;
}

.topic-count-field {
	-fx-background-color: -app-base;
	-fx-padding: 0;
}