.root {
	-app-white: #F1F1F1;
	-app-base: #DCE3F1;
	-app-light-accent: #CBE0F5;
	-app-accent: #A7C7E7;
	-app-light: #A1B2C3;
	-app-dark: #29527B;
	-app-green: green;
	-app-green-accent: #77DD77;
	-app-green-light-accent: #84E884;
	-app-red: red;
	-app-red-accent: #FF8787;
	-app-red-light-accent: #FF9494;
	-app-orange: #F58300;
	-app-orange-accent: #FFD099;
	-app-orange-light-accent: #FCD6A9;
	-app-grey: grey;
	-app-grey-accent: lightgrey;
	-fx-background-color: -app-base;
}

.header {
	
}

.main-menu-button .overlay {
	-fx-alignment: center-left;
	-fx-spacing: 20;
}

.main-menu-button .overlay .title {
	-fx-font: 32 "Georgia";
}

.glass-pane {
	-fx-background-color: -app-grey;	
}

.correct-pie-slice {
	-fx-pie-color: green;
}

.incorrect-pie-slice {
	-fx-pie-color: red;
}

.dead-pie-slice {
	-fx-pie-color: grey;
}

.problem-display {
	-fx-font: 30 "Yu Gothic";
}

.title-character {
	-fx-font: 72 "Yu Gothic";
}

.sets-pane {
	-fx-background-color: bisque;
}
.sets-pane .back-arrow-box {
	-fx-background-color: #29527B;
	-fx-padding: 10px;
}
.sets-pane .header {
	-fx-background-color: -app-accent;
	-fx-spacing: 20px;
	-fx-alignment: center;
	-fx-font: 48 "Georgia";
	-fx-font-fill: -app-light;
	-fx-font-weight: 600;
	-fx-padding: 0px 0px 10px 0px;
	-fx-border-color: -app-dark;
	-fx-border-width: 0px 0px 4px 0px;
}

.sets-pane .header .create-button {
	-fx-background-color: -app-green-accent; /*rgb(0, 0, 0); #hexcode*/
	-fx-background-radius: 16px;
	-fx-border-color: -app-green;
	-fx-border-radius: 10px;
	-fx-border-width: 4px;
	-fx-font: 30 "Impact";
	-fx-text-fill: -app-white;
	-fx-font-weight: 600;
}

.sets-pane .scroll {
	-fx-hbar-policy: never;
}

.sets-pane .scroll .viewport {
	-fx-background-color: -app-base;
}

.sets-pane .flow {
	-fx-background-color: -app-base;
	-fx-hgap: 10px;
	-fx-vgap: 10px;
	-fx-padding: 20;
}

.sets-pane .root-layer {
	-fx-background-color: -app-base;
}

.set-card {
	-fx-background-color: -app-white;
	-fx-background-radius: 8px;
	-fx-border-color: -app-dark;
	-fx-border-width: 3px;
	-fx-border-radius: 8px;
	-fx-padding: 10px;
}

.set-card VBox {
	-fx-spacing: 5px;
}

.set-card Label {
	-fx-font: 24 "Georgia";
}

.set-card Button {
	-fx-font: 16 "Georgia";
}

.error-message {
	-fx-font: 14 "Georgia";
	-fx-text-fill: red;
}

.editor-pane .title {
	-fx-font: 24 "Georgia";
}

.editor-pane .name-layer {
	-fx-alignment: center;
}

.editor-pane .name-layer .row {
	-fx-spacing: 20;
	-fx-alignment: center;
}

.editor-pane .topic-layer {
	-fx-spacing: 20;
	-fx-padding: 25;
}

.editor-pane .portion-layer {
	-fx-padding: 20px 40px 40px 40px;
}

.topic-management-box {
	-fx-spacing: 10;	
}

.topic-pane {
	-fx-background-color: transparent;
	-fx-text-fill: black;
}

.topic-pane > .title {
	-fx-background-color: -app-accent;
	-fx-background-insets: 0;
	-fx-background-radius: 5 5 5 5;
	-fx-padding: 5 10 5 10;
}

.topic-pane > *.content {
	-fx-background-color: -app-light-accent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-padding: 2 0 0 18;
 }

.topic-pane .graphic {
	-fx-padding: 0 10 0 10;
	-fx-spacing: 10;
}

.setting-slider .thumb {
    -fx-background-color: -app-dark;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}

.setting-slider .track {
	-fx-background-color: -app-accent;
    -fx-background-insets: 0 0;
}

.topic-pane-container {
	-fx-spacing: 10;
}

.topic-count-field {
	-fx-background-color: -app-base;
	-fx-padding: 0;
}

.topic-selection-popup {
	-fx-background-color: -app-light;
	-fx-background-radius: 8;
	-fx-padding: 12;
}

.topic-selection-popup .vbox {
	-fx-spacing: 8;
}

.topic-selection-popup .scroll {
	-fx-background-color: -app-base;
	-fx-background-radius: 6;
	-fx-fit-to-width: true;
	-fx-vbar-policy: always;
}

.topic-selection-popup .scroll .viewport {
	-fx-background-color: -app-base;
	-fx-background-radius: 8;
}

.topic-selection-popup .scroll .scroll-bar:vertical {
	-fx-background-color: -app-base;
}

.topic-selection-popup .scroll .scroll-bar:vertical .thumb {
	-fx-background-color: -app-light;
	-fx-border-radius: 8;
}

.topic-selection-popup .scroll .corner,
.topic-selection-popup .scroll .scroll-bar:vertical .track,
.topic-selection-popup .scroll .scroll-bar:vertical .increment-button,
.topic-selection-popup .scroll .scroll-bar:vertical .decrement-button {
	-fx-background-color: -app-base;	
}

.topic-selection-popup .scroll .scroll-bar:vertical .increment-button .increment-arrow,
.topic-selection-popup .scroll .scroll-bar:vertical .decrement-button .decrement-arrow {
	visibility: false;
}

.editor-button {
	-fx-border-radius: 4;
	-fx-background-radius: 6;
	-fx-font: 14 "Georgia";
	-fx-focus-traversable: false;
}

.topic-management-box .add-topic-button,
.topic-selection-popup .add-selected-button,
.topic-selector .unselected-button {
	-fx-border-color: -app-green;
	-fx-background-color: -app-green-accent;
	-fx-text-fill: -app-green;
}

.topic-management-box .add-topic-button:hover,
.topic-selector .unselected-button:hover,
.topic-selection-popup .add-selected-button:hover {
	-fx-background-color: -app-green-light-accent;
}

.topic-management-box .remove-topic-button {
	-fx-border-color: -app-orange;
	-fx-background-color: -app-orange-accent;
	-fx-text-fill: -app-orange;
}

.topic-management-box .remove-topic-button:hover {
	-fx-background-color: -app-orange-light-accent;
}

.topic-selection-popup .cancel-button {
	-fx-border-color: -app-red;
	-fx-background-color: -app-red-accent;
	-fx-text-fill: -app-red;
}

.topic-selection-popup .cancel-button:hover {
	-fx-background-color: -app-red-light-accent;
}

.topic-selection-popup .cancel-button .graphic {
	-fx-image: url("./x_red.png");
}

.topic-search-bar {
	-fx-spacing: 10;
	-fx-alignment: center-left;	
}

.magnifying-glass {
	-fx-image: url("./magnify.png");
}

.topic-selector-box {
	-fx-spacing: 10;
	-fx-padding: 10;
}

.topic-selector .name {
	-fx-font: 14 "Georgia";	
}

.topic-selector .unselected-button .graphic {
	-fx-image: url("./plus_green.png");
}

.topic-selector .selected-button {
	-fx-border-color: -app-dark;
	-fx-background-color: -app-accent;
	-fx-text-fill: -app-dark;
}

.topic-selector .selected-button .graphic {
	-fx-image: url("./check_blue.png");
}

.topic-selector .selected-button:hover .graphic {
	-fx-image: url("./x_blue.png");
}

.topic-selector .added-button:disabled {
	-fx-border-color: -app-grey;
	-fx-background-color: -app-grey-accent;
	-fx-text-fill: -app-grey;
	-fx-focus-traversable: false;
}