body {
	background-color: #DCE3F1; /* this is "-app-base" from resources/style.css*/
	font-family: "Courier New";	
	font-weight: bold;
	font-size: 36;
	height: 100%;
	margin: 20px;
	display: flex; 
	flex-direction: column;
	padding: 0; 
	margin: 0;
}

math {
	background-color: transparent;
	margin-top: auto;
}

html {
	padding: 0; 
	margin: 0;
}